p {
	font-size: 20px;
}
body {
	color: red;
	background-color: #FFF;
	font-size: 30px;
}
b { color: red;}
p {
	font-size: 50px;
}
p {
	font-size: 50px;
}
p {
	font-size: 50px;
}
p {
	font-size: 50px;
}
p {
	font-size: 100px;
}